In [1]:
from module import *

import time


# with open('model.pkl', 'rb') as f:
#         model = pickle.load(f)

# model = load_model(checkpoint_path, MyModel, device='cuda')

In [2]:
import requests
# url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v3/get-historical-data"
# querystring = {"symbol":"BTC-USD","region":"US"}
# response = requests.get(url, headers=headers, params=querystring).json()
url = "https://api.twelvedata.com/time_series?symbol=BTC/USD&interval=1h&outputsize=200&apikey=1e883412b62940ccb48e5573b9b6a6f5"
response = requests.get(url, headers=headers)

In [3]:
response.json()['values']

[{'datetime': '2024-11-23 23:00:00',
  'open': '97761.05000',
  'high': '97902.98000',
  'low': '97505.32000',
  'close': '97660.23000'},
 {'datetime': '2024-11-23 22:00:00',
  'open': '98082.54000',
  'high': '98150.66000',
  'low': '97632.45000',
  'close': '97765.45000'},
 {'datetime': '2024-11-23 21:00:00',
  'open': '97838.41000',
  'high': '98159.99000',
  'low': '97660.01000',
  'close': '98082.55000'},
 {'datetime': '2024-11-23 20:00:00',
  'open': '97620.09000',
  'high': '97839.27000',
  'low': '97215.01000',
  'close': '97838.41000'},
 {'datetime': '2024-11-23 19:00:00',
  'open': '97976.27000',
  'high': '97976.28000',
  'low': '97500.00000',
  'close': '97620.09000'},
 {'datetime': '2024-11-23 18:00:00',
  'open': '98081.60000',
  'high': '98167.61000',
  'low': '97804.77000',
  'close': '97968.52000'},
 {'datetime': '2024-11-23 17:00:00',
  'open': '97874.73000',
  'high': '98266.55000',
  'low': '97500.01000',
  'close': '98081.60000'},
 {'datetime': '2024-11-23 16:00:00',
  'open': '98596.98000',
  'high': '98703.68000',
  'low': '97746.32000',
  'close': '97873.89000'},
 {'datetime': '2024-11-23 15:00:00',
  'open': '98905.99000',
  'high': '98965.00000',
  'low': '98592.33000',
  'close': '98595.49000'},
 {'datetime': '2024-11-23 14:00:00',
  'open': '98664.49000',
  'high': '98988.99000',
  'low': '98590.65000',
  'close': '98905.99000'},
 {'datetime': '2024-11-23 13:00:00',
  'open': '98759.01000',
  'high': '99000.00000',
  'low': '98661.27000',
  'close': '98664.48000'},
 {'datetime': '2024-11-23 12:00:00',
  'open': '98564.29000',
  'high': '98800.00000',
  'low': '98549.47000',
  'close': '98751.18000'},
 {'datetime': '2024-11-23 11:00:00',
  'open': '98553.01000',
  'high': '98725.90000',
  'low': '98512.65000',
  'close': '98564.28000'},
 {'datetime': '2024-11-23 10:00:00',
  'open': '98592.06000',
  'high': '98729.97000',
  'low': '98435.12000',
  'close': '98553.00000'},
 {'datetime': '2024-11-23 09:00:00',
  'open': '98585.10000',
  'high': '98718.84000',
  'low': '98482.26000',
  'close': '98592.06000'},
 {'datetime': '2024-11-23 08:00:00',
  'open': '98694.54000',
  'high': '98786.89000',
  'low': '98483.24000',
  'close': '98585.09000'},
 {'datetime': '2024-11-23 07:00:00',
  'open': '98835.10000',
  'high': '98922.28000',
  'low': '98546.52000',
  'close': '98692.65000'},
 {'datetime': '2024-11-23 06:00:00',
  'open': '98882.75000',
  'high': '98998.80000',
  'low': '98725.69000',
  'close': '98835.10000'},
 {'datetime': '2024-11-23 05:00:00',
  'open': '98690.00000',
  'high': '98950.68000',
  'low': '98505.49000',
  'close': '98882.74000'},
 {'datetime': '2024-11-23 04:00:00',
  'open': '98787.93000',
  'high': '98838.69000',
  'low': '98402.01000',
  'close': '98690.01000'},
 {'datetime': '2024-11-23 03:00:00',
  'open': '98609.08000',
  'high': '98979.99000',
  'low': '98527.11000',
  'close': '98787.94000'},
 {'datetime': '2024-11-23 02:00:00',
  'open': '98715.32000',
  'high': '98751.61000',
  'low': '98410.50000',
  'close': '98609.08000'},
 {'datetime': '2024-11-23 01:00:00',
  'open': '98759.23000',
  'high': '98813.25000',
  'low': '98429.99000',
  'close': '98715.33000'},
 {'datetime': '2024-11-23 00:00:00',
  'open': '99024.03000',
  'high': '99044.11000',
  'low': '98671.31000',
  'close': '98772.68000'},
 {'datetime': '2024-11-22 23:00:00',
  'open': '98755.54000',
  'high': '99069.69000',
  'low': '98745.74000',
  'close': '99024.03000'},
 {'datetime': '2024-11-22 22:00:00',
  'open': '99494.98000',
  'high': '99641.89000',
  'low': '98700.47000',
  'close': '98755.61000'},
 {'datetime': '2024-11-22 21:00:00',
  'open': '99379.16000',
  'high': '99531.23000',
  'low': '98932.86000',
  'close': '99485.35000'},
 {'datetime': '2024-11-22 20:00:00',
  'open': '99316.61000',
  'high': '99765.79000',
  'low': '99109.01000',
  'close': '99379.49000'},
 {'datetime': '2024-11-22 19:00:00',
  'open': '99353.23000',
  'high': '99860.00000',
  'low': '99050.00000',
  'close': '99311.69000'},
 {'datetime': '2024-11-22 18:00:00',
  'open': '98950.02000',
  'high': '99441.97000',
  'low': '98825.00000',
  'close': '99353.22000'},
 {'datetime': '2024-11-22 17:00:00',
  'open': '99013.25000',
  'high': '99498.00000',
  'low': '98900.79000',
  'close': '98950.01000'},
 {'datetime': '2024-11-22 16:00:00',
  'open': '98841.11000',
  'high': '99178.99000',
  'low': '98372.63000',
  'close': '99013.49000'},
 {'datetime': '2024-11-22 15:00:00',
  'open': '97389.05000',
  'high': '99012.07000',
  'low': '97242.01000',
  'close': '98841.10000'},
 {'datetime': '2024-11-22 14:00:00',
  'open': '97844.74000',
  'high': '98221.46000',
  'low': '97209.52000',
  'close': '97382.74000'},
 {'datetime': '2024-11-22 13:00:00',
  'open': '98722.11000',
  'high': '98737.47000',
  'low': '97446.21000',
  'close': '97844.74000'},
 {'datetime': '2024-11-22 12:00:00',
  'open': '98963.78000',
  'high': '99050.46000',
  'low': '98545.48000',
  'close': '98722.11000'},
 {'datetime': '2024-11-22 11:00:00',
  'open': '98462.79000',
  'high': '99000.45000',
  'low': '98306.01000',
  'close': '98969.35000'},
 {'datetime': '2024-11-22 10:00:00',
  'open': '98790.58000',
  'high': '98876.18000',
  'low': '98360.02000',
  'close': '98462.79000'},
 {'datetime': '2024-11-22 09:00:00',
  'open': '98911.75000',
  'high': '98974.76000',
  'low': '98477.87000',
  'close': '98790.59000'},
 {'datetime': '2024-11-22 08:00:00',
  'open': '99311.04000',
  'high': '99411.66000',
  'low': '98848.29000',
  'close': '98911.75000'},
 {'datetime': '2024-11-22 07:00:00',
  'open': '99125.02000',
  'high': '99543.00000',
  'low': '98986.44000',
  'close': '99305.24000'},
 {'datetime': '2024-11-22 06:00:00',
  'open': '98909.24000',
  'high': '99173.00000',
  'low': '98756.78000',
  'close': '99121.81000'},
 {'datetime': '2024-11-22 05:00:00',
  'open': '98915.88000',
  'high': '99139.00000',
  'low': '98606.93000',
  'close': '98909.24000'},
 {'datetime': '2024-11-22 04:00:00',
  'open': '98958.87000',
  'high': '99227.78000',
  'low': '98770.57000',
  'close': '98915.49000'},
 {'datetime': '2024-11-22 03:00:00',
  'open': '98718.66000',
  'high': '99390.00000',
  'low': '98525.58000',
  'close': '98958.87000'},
 {'datetime': '2024-11-22 02:00:00',
  'open': '98195.64000',
  'high': '98899.99000',
  'low': '98149.56000',
  'close': '98718.66000'},
 {'datetime': '2024-11-22 01:00:00',
  'open': '98112.66000',
  'high': '98520.13000',
  'low': '97950.00000',
  'close': '98195.63000'},
 {'datetime': '2024-11-22 00:00:00',
  'open': '98439.10000',
  'high': '98633.64000',
  'low': '97952.04000',
  'close': '98112.67000'},
 {'datetime': '2024-11-21 23:00:00',
  'open': '98486.47000',
  'high': '98857.28000',
  'low': '98383.16000',
  'close': '98439.09000'},
 {'datetime': '2024-11-21 22:00:00',
  'open': '98090.40000',
  'high': '98536.00000',
  'low': '97961.39000',
  'close': '98484.25000'},
 {'datetime': '2024-11-21 21:00:00',
  'open': '98240.34000',
  'high': '98361.17000',
  'low': '97692.30000',
  'close': '98090.40000'},
 {'datetime': '2024-11-21 20:00:00',
  'open': '97936.95000',
  'high': '98831.28000',
  'low': '97726.13000',
  'close': '98240.34000'},
 {'datetime': '2024-11-21 19:00:00',
  'open': '98389.69000',
  'high': '99073.53000',
  'low': '97809.76000',
  'close': '97936.94000'},
 {'datetime': '2024-11-21 18:00:00',
  'open': '98167.11000',
  'high': '98500.00000',
  'low': '97759.07000',
  'close': '98389.68000'},
 {'datetime': '2024-11-21 17:00:00',
  'open': '97216.39000',
  'high': '98188.60000',
  'low': '96973.16000',
  'close': '98167.11000'},
 {'datetime': '2024-11-21 16:00:00',
  'open': '96706.08000',
  'high': '97475.61000',
  'low': '96312.29000',
  'close': '97216.66000'},
 {'datetime': '2024-11-21 15:00:00',
  'open': '97077.05000',
  'high': '97181.74000',
  'low': '95606.45000',
  'close': '96706.08000'},
 {'datetime': '2024-11-21 14:00:00',
  'open': '97570.45000',
  'high': '97746.95000',
  'low': '96543.10000',
  'close': '97071.06000'},
 {'datetime': '2024-11-21 13:00:00',
  'open': '97324.29000',
  'high': '97800.00000',
  'low': '97067.28000',
  'close': '97569.99000'},
 {'datetime': '2024-11-21 12:00:00',
  'open': '98007.19000',
  'high': '98265.49000',
  'low': '97288.49000',
  'close': '97327.01000'},
 {'datetime': '2024-11-21 11:00:00',
  'open': '97745.99000',
  'high': '98370.30000',
  'low': '97714.66000',
  'close': '98005.95000'},
 {'datetime': '2024-11-21 10:00:00',
  'open': '97655.03000',
  'high': '97790.00000',
  'low': '97302.42000',
  'close': '97746.00000'},
 {'datetime': '2024-11-21 09:00:00',
  'open': '97157.74000',
  'high': '97745.89000',
  'low': '97067.97000',
  'close': '97655.03000'},
 {'datetime': '2024-11-21 08:00:00',
  'open': '96982.88000',
  'high': '97205.98000',
  'low': '96780.35000',
  'close': '97157.74000'},
 {'datetime': '2024-11-21 07:00:00',
  'open': '97073.51000',
  'high': '97448.22000',
  'low': '96956.98000',
  'close': '96982.73000'},
 {'datetime': '2024-11-21 06:00:00',
  'open': '97404.50000',
  'high': '97481.12000',
  'low': '96850.52000',
  'close': '97074.37000'},
 {'datetime': '2024-11-21 05:00:00',
  'open': '97608.79000',
  'high': '97931.00000',
  'low': '96717.17000',
  'close': '97403.71000'},
 {'datetime': '2024-11-21 04:00:00',
  'open': '95899.44000',
  'high': '97749.00000',
  'low': '95879.92000',
  'close': '97611.15000'},
 {'datetime': '2024-11-21 03:00:00',
  'open': '94524.10000',
  'high': '96000.00000',
  'low': '94502.03000',
  'close': '95899.60000'},
 {'datetime': '2024-11-21 02:00:00',
  'open': '94792.11000',
  'high': '94890.37000',
  'low': '94127.20000',
  'close': '94524.10000'},
 {'datetime': '2024-11-21 01:00:00',
  'open': '94804.34000',
  'high': '95000.20000',
  'low': '94685.05000',
  'close': '94792.12000'},
 {'datetime': '2024-11-21 00:00:00',
  'open': '94384.15000',
  'high': '95000.00000',
  'low': '94267.27000',
  'close': '94815.42000'},
 {'datetime': '2024-11-20 23:00:00',
  'open': '94244.28000',
  'high': '94393.15000',
  'low': '93858.00000',
  'close': '94393.15000'},
 {'datetime': '2024-11-20 22:00:00',
  'open': '94456.84000',
  'high': '94583.06000',
  'low': '94010.54000',
  'close': '94244.28000'},
 {'datetime': '2024-11-20 21:00:00',
  'open': '94383.05000',
  'high': '94618.91000',
  'low': '94000.00000',
  'close': '94456.85000'},
 {'datetime': '2024-11-20 20:00:00',
  'open': '94139.11000',
  'high': '94744.99000',
  'low': '93947.18000',
  'close': '94380.69000'},
 {'datetime': '2024-11-20 19:00:00',
  'open': '93785.23000',
  'high': '94159.99000',
  'low': '93333.00000',
  'close': '94139.11000'},
 {'datetime': '2024-11-20 18:00:00',
  'open': '94042.58000',
  'high': '94450.00000',
  'low': '93251.36000',
  'close': '93791.31000'},
 {'datetime': '2024-11-20 17:00:00',
  'open': '94172.75000',
  'high': '94468.62000',
  'low': '93706.94000',
  'close': '94045.20000'},
 {'datetime': '2024-11-20 16:00:00',
  'open': '94887.10000',
  'high': '94989.99000',
  'low': '93382.89000',
  'close': '94172.96000'},
 {'datetime': '2024-11-20 15:00:00',
  'open': '94761.51000',
  'high': '94987.00000',
  'low': '94158.00000',
  'close': '94887.11000'},
 {'datetime': '2024-11-20 14:00:00',
  'open': '94492.52000',
  'high': '94849.99000',
  'low': '93904.58000',
  'close': '94769.21000'},
 {'datetime': '2024-11-20 13:00:00',
  'open': '93634.40000',
  'high': '94709.20000',
  'low': '93634.40000',
  'close': '94492.52000'},
 {'datetime': '2024-11-20 12:00:00',
  'open': '93561.47000',
  'high': '93876.49000',
  'low': '93418.47000',
  'close': '93639.14000'},
 {'datetime': '2024-11-20 11:00:00',
  'open': '93382.79000',
  'high': '93739.22000',
  'low': '92935.24000',
  'close': '93561.47000'},
 {'datetime': '2024-11-20 10:00:00',
  'open': '93174.92000',
  'high': '93628.75000',
  'low': '93106.45000',
  'close': '93382.79000'},
 {'datetime': '2024-11-20 09:00:00',
  'open': '93297.61000',
  'high': '93772.26000',
  'low': '93052.57000',
  'close': '93171.36000'},
 {'datetime': '2024-11-20 08:00:00',
  'open': '92946.91000',
  'high': '93429.57000',
  'low': '92803.43000',
  'close': '93299.83000'},
 {'datetime': '2024-11-20 07:00:00',
  'open': '92468.37000',
  'high': '92968.73000',
  'low': '92379.07000',
  'close': '92946.91000'},
 {'datetime': '2024-11-20 06:00:00',
  'open': '92617.54000',
  'high': '92761.59000',
  'low': '92441.40000',
  'close': '92468.37000'},
 {'datetime': '2024-11-20 05:00:00',
  'open': '92204.05000',
  'high': '92649.31000',
  'low': '92025.03000',
  'close': '92617.54000'},
 {'datetime': '2024-11-20 04:00:00',
  'open': '92157.97000',
  'high': '92393.62000',
  'low': '91965.13000',
  'close': '92204.06000'},
 {'datetime': '2024-11-20 03:00:00',
  'open': '91884.84000',
  'high': '92196.88000',
  'low': '91600.00000',
  'close': '92160.34000'},
 {'datetime': '2024-11-20 02:00:00',
  'open': '92126.09000',
  'high': '92195.90000',
  'low': '91721.76000',
  'close': '91884.84000'},
 {'datetime': '2024-11-20 01:00:00',
  'open': '92168.78000',
  'high': '92397.20000',
  'low': '91854.21000',
  'close': '92125.87000'},
 {'datetime': '2024-11-20 00:00:00',
  'open': '92445.04000',
  'high': '92577.36000',
  'low': '92131.55000',
  'close': '92168.77000'},
 {'datetime': '2024-11-19 23:00:00',
  'open': '91939.92000',
  'high': '92451.04000',
  'low': '91691.33000',
  'close': '92435.89000'},
 {'datetime': '2024-11-19 22:00:00',
  'open': '92313.15000',
  'high': '92562.06000',
  'low': '91500.00000',
  'close': '91960.64000'},
 {'datetime': '2024-11-19 21:00:00',
  'open': '92577.96000',
  'high': '92869.02000',
  'low': '91903.52000',
  'close': '92313.16000'},
 {'datetime': '2024-11-19 20:00:00',
  'open': '93331.01000',
  'high': '93697.59000',
  'low': '92271.34000',
  'close': '92577.97000'},
 {'datetime': '2024-11-19 19:00:00',
  'open': '93789.63000',
  'high': '94105.84000',
  'low': '93181.93000',
  'close': '93331.02000'},
 {'datetime': '2024-11-19 18:00:00',
  'open': '92963.12000',
  'high': '93989.00000',
  'low': '92829.01000',
  'close': '93788.37000'},
 {'datetime': '2024-11-19 17:00:00',
  'open': '92663.79000',
  'high': '93395.86000',
  'low': '92442.92000',
  'close': '92963.32000'},
 {'datetime': '2024-11-19 16:00:00',
  'open': '92492.76000',
  'high': '92763.65000',
  'low': '92250.00000',
  'close': '92663.80000'},
 {'datetime': '2024-11-19 15:00:00',
  'open': '91905.29000',
  'high': '92563.35000',
  'low': '91549.00000',
  'close': '92492.76000'},
 {'datetime': '2024-11-19 14:00:00',
  'open': '91202.44000',
  'high': '92375.19000',
  'low': '91026.74000',
  'close': '91907.50000'},
 {'datetime': '2024-11-19 13:00:00',
  'open': '92535.71000',
  'high': '92850.00000',
  'low': '91098.80000',
  'close': '91196.55000'},
 {'datetime': '2024-11-19 12:00:00',
  'open': '91709.49000',
  'high': '92660.60000',
  'low': '91709.49000',
  'close': '92535.10000'},
 {'datetime': '2024-11-19 11:00:00',
  'open': '91809.15000',
  'high': '91922.10000',
  'low': '91564.03000',
  'close': '91709.49000'},
 {'datetime': '2024-11-19 10:00:00',
  'open': '91750.71000',
  'high': '91979.74000',
  'low': '91529.05000',
  'close': '91809.14000'},
 {'datetime': '2024-11-19 09:00:00',
  'open': '91818.06000',
  'high': '91996.44000',
  'low': '91234.32000',
  'close': '91750.72000'},
 {'datetime': '2024-11-19 08:00:00',
  'open': '91688.00000',
  'high': '91830.22000',
  'low': '91436.21000',
  'close': '91818.06000'},
 {'datetime': '2024-11-19 07:00:00',
  'open': '92025.45000',
  'high': '92091.99000',
  'low': '91649.36000',
  'close': '91677.00000'},
 {'datetime': '2024-11-19 06:00:00',
  'open': '91939.64000',
  'high': '92055.99000',
  'low': '91655.45000',
  'close': '92025.45000'},
 {'datetime': '2024-11-19 05:00:00',
  'open': '91581.97000',
  'high': '91978.19000',
  'low': '91283.66000',
  'close': '91940.75000'},
 {'datetime': '2024-11-19 04:00:00',
  'open': '91471.92000',
  'high': '91868.87000',
  'low': '91279.55000',
  'close': '91589.00000'},
 {'datetime': '2024-11-19 03:00:00',
  'open': '91299.99000',
  'high': '91592.37000',
  'low': '91213.03000',
  'close': '91471.93000'},
 {'datetime': '2024-11-19 02:00:00',
  'open': '90766.15000',
  'high': '91333.78000',
  'low': '90747.63000',
  'close': '91299.99000'},
 {'datetime': '2024-11-19 01:00:00',
  'open': '91091.68000',
  'high': '91309.87000',
  'low': '90659.13000',
  'close': '90762.73000'},
 {'datetime': '2024-11-19 00:00:00',
  'open': '90521.32000',
  'high': '91267.39000',
  'low': '90403.24000',
  'close': '91083.57000'},
 {'datetime': '2024-11-18 23:00:00',
  'open': '91230.50000',
  'high': '91297.33000',
  'low': '90294.86000',
  'close': '90520.30000'},
 {'datetime': '2024-11-18 22:00:00',
  'open': '91368.02000',
  'high': '91553.07000',
  'low': '91036.05000',
  'close': '91230.51000'},
 {'datetime': '2024-11-18 21:00:00',
  'open': '91568.11000',
  'high': '92095.34000',
  'low': '91234.33000',
  'close': '91371.51000'},
 {'datetime': '2024-11-18 20:00:00',
  'open': '90684.04000',
  'high': '92043.99000',
  'low': '90483.42000',
  'close': '91575.13000'},
 {'datetime': '2024-11-18 19:00:00',
  'open': '90415.72000',
  'high': '90724.48000',
  'low': '89720.74000',
  'close': '90681.98000'},
 {'datetime': '2024-11-18 18:00:00',
  'open': '91636.23000',
  'high': '91735.37000',
  'low': '90142.33000',
  'close': '90415.72000'},
 {'datetime': '2024-11-18 17:00:00',
  'open': '91464.23000',
  'high': '92208.74000',
  'low': '90967.43000',
  'close': '91636.23000'},
 {'datetime': '2024-11-18 16:00:00',
  'open': '92399.16000',
  'high': '92639.80000',
  'low': '91156.75000',
  'close': '91466.65000'},
 {'datetime': '2024-11-18 15:00:00',
  'open': '90314.38000',
  'high': '92674.80000',
  'low': '90258.14000',
  'close': '92392.15000'},
 {'datetime': '2024-11-18 14:00:00',
  'open': '89517.10000',
  'high': '91105.22000',
  'low': '89434.62000',
  'close': '90320.30000'},
 {'datetime': '2024-11-18 13:00:00',
  'open': '90532.98000',
  'high': '90613.62000',
  'low': '89372.65000',
  'close': '89511.06000'},
 {'datetime': '2024-11-18 12:00:00',
  'open': '90282.71000',
  'high': '90778.44000',
  'low': '90108.04000',
  'close': '90533.38000'},
 {'datetime': '2024-11-18 11:00:00',
  'open': '91766.32000',
  'high': '91839.21000',
  'low': '90051.24000',
  'close': '90275.90000'},
 {'datetime': '2024-11-18 10:00:00',
  'open': '91719.56000',
  'high': '92024.51000',
  'low': '91657.72000',
  'close': '91763.08000'},
 {'datetime': '2024-11-18 09:00:00',
  'open': '91806.30000',
  'high': '92221.00000',
  'low': '91643.89000',
  'close': '91723.31000'},
 {'datetime': '2024-11-18 08:00:00',
  'open': '91732.45000',
  'high': '92145.00000',
  'low': '91562.39000',
  'close': '91806.30000'},
 {'datetime': '2024-11-18 07:00:00',
  'open': '92048.17000',
  'high': '92234.39000',
  'low': '91412.03000',
  'close': '91726.75000'},
 {'datetime': '2024-11-18 06:00:00',
  'open': '90621.27000',
  'high': '92082.90000',
  'low': '90621.27000',
  'close': '92055.03000'},
 {'datetime': '2024-11-18 05:00:00',
  'open': '90456.59000',
  'high': '90820.02000',
  'low': '90450.02000',
  'close': '90626.05000'},
 {'datetime': '2024-11-18 04:00:00',
  'open': '90658.92000',
  'high': '90726.24000',
  'low': '90450.00000',
  'close': '90456.60000'},
 {'datetime': '2024-11-18 03:00:00',
  'open': '90499.39000',
  'high': '90691.36000',
  'low': '90303.21000',
  'close': '90658.10000'},
 {'datetime': '2024-11-18 02:00:00',
  'open': '90759.08000',
  'high': '90863.42000',
  'low': '90410.96000',
  'close': '90500.00000'},
 {'datetime': '2024-11-18 01:00:00',
  'open': '89955.80000',
  'high': '90949.00000',
  'low': '89892.51000',
  'close': '90747.34000'},
 {'datetime': '2024-11-18 00:00:00',
  'open': '89877.11000',
  'high': '90132.25000',
  'low': '89640.83000',
  'close': '89966.17000'},
 {'datetime': '2024-11-17 23:00:00',
  'open': '89563.27000',
  'high': '89895.81000',
  'low': '89330.08000',

In [4]:

response_df = pd.DataFrame(response.json()['values'])
response_df = response_df.rename(columns={'datetime':'date'}, errors="raise")

# for i in range(len(response_df)):
#     response_df.loc[i, 'datetime'] = datetime.datetime.fromtimestamp(response_df['datetime'][i])
# date = response_df['datetime']
response_df

exp = Exp(args)
exp.model.load_state_dict(torch.load(checkpoint_path, map_location=torch.device('cpu')))

Use CPU

In [5]:
response_df

                    date         open         high          low        close
0    2024-11-23 23:00:00  97761.05000  97902.98000  97505.32000  97660.23000
1    2024-11-23 22:00:00  98082.54000  98150.66000  97632.45000  97765.45000
2    2024-11-23 21:00:00  97838.41000  98159.99000  97660.01000  98082.55000
3    2024-11-23 20:00:00  97620.09000  97839.27000  97215.01000  97838.41000
4    2024-11-23 19:00:00  97976.27000  97976.28000  97500.00000  97620.09000
..                   ...          ...          ...          ...          ...
195  2024-11-15 20:00:00  90400.33000  91541.67000  90357.70000  91523.12000
196  2024-11-15 19:00:00  89394.98000  90876.88000  89267.24000  90418.20000
197  2024-11-15 18:00:00  89493.38000  89847.37000  89211.05000  89394.97000
198  2024-11-15 17:00:00  89387.31000  89970.46000  89195.88000  89493.38000
199  2024-11-15 16:00:00  88440.25000  89752.02000  88376.42000  89385.04000

[200 rows x 5 columns]

In [6]:
# response_df.loc[response_df.index[i], 'volume_btc'] = response_df.loc[response_df.index[i], 'volume'] * response_df.loc[response_df.index[i], 'close']

columns = ['open','high','low','close']
for i in columns:
    response_df[i] = response_df[i].astype(float)

# response_df['volume_btc'] = response_df['close'] * response_df['volume']
# columns += 'volume_btc'
# df.to_csv('BTC-Hourly.csv', index=False)

In [7]:
std, mean = response_df.std(axis=0), response_df.mean(axis=0) 
normalized_data = pd.DataFrame()
normalized_data['date'] = response_df['date']
normalized_data[columns] = (response_df[columns] - mean) / std
normalized_data

                    date      open      high       low     close
0    2024-11-23 23:00:00  1.141120  1.084747  1.166052  1.101808
1    2024-11-23 22:00:00  1.235309  1.157958  1.203229  1.132742
2    2024-11-23 21:00:00  1.163784  1.160716  1.211289  1.225967
3    2024-11-23 20:00:00  1.099821  1.065915  1.081156  1.154192
4    2024-11-23 19:00:00  1.204174  1.106413  1.164496  1.090007
..                   ...       ...       ...       ...       ...
195  2024-11-15 20:00:00 -1.015408 -0.795572 -0.924153 -0.702463
196  2024-11-15 19:00:00 -1.309953 -0.992075 -1.243040 -1.027303
197  2024-11-15 18:00:00 -1.281124 -1.296385 -1.259472 -1.328126
198  2024-11-15 17:00:00 -1.312200 -1.260001 -1.263908 -1.299194
199  2024-11-15 16:00:00 -1.589668 -1.324569 -1.503546 -1.331045

[200 rows x 5 columns]

In [8]:
# predicted_changes = predict(exp, response_df)
# predicted_changes

In [13]:
# response_df = pd.DataFrame([response['prices'][i] for i in range(39, -1, -1)])
# for i in range(len(response_df)):
#     response_df.loc[i, 'date'] = datetime.datetime.fromtimestamp(response_df['date'][i])
# date = response_df['date']


aim = 'close'
Window = 42
middle = [0]*(len(response_df)-96)
exp.args.data_path = 'Temp.csv'
# columns = ['open','high','low','close','volume', 'volume_btc']
# response_df['date'] = np.nan
for i in range(96,len(normalized_data)):
    temp_df = pd.DataFrame(normalized_data[i-96:i])
    temp_df.to_csv('./data/Temp'+str(i)+'.csv', index=False)
for i in range(96,len(normalized_data)):
    args.data_path = 'Temp'+str(i)+'.csv'
    exp = Exp(args)
    exp.model.load_state_dict(torch.load(checkpoint_path, map_location=torch.device('cpu')))
    middle[i-96] = middle_band(exp)
# response_df['date'] = date
# response_df = response_df.set_index('date')

# response_df['middle_band'] = middle
# response_df['upper_band'], response_df['lower_band'] = bollinger_band(response_df['open'], response_df['middle_band'], 5, 3)  
   
# response_df.dropna(inplace=True)
# response_df[50:60]
middle

Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)
Use CPU
data created!
pred 1
(12,)

[array([-0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
         0.00729327, -0.07720549, -0.3       , -0.3       , -0.3       ,
        -0.3       , -0.3       ], dtype=float32),
 array([-0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.02711016, -0.09920646, -0.3       , -0.3       , -0.3       ,
        -0.3       , -0.3       ], dtype=float32),
 array([-0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.03908054, -0.10358712, -0.3       , -0.3       , -0.3       ,
        -0.3       , -0.3       ], dtype=float32),
 array([-0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.061647  , -0.13883585, -0.3       , -0.3       , -0.3       ,
        -0.3       , -0.3       ], dtype=float32),
 array([-0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.07152212, -0.1521225 , -0.3       , -0.3       , -0.3       ,
        -0.3       , -0.3       ], dtype=float32),
 array([-0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.08372536, -0.184273  , -0.3       , -0.3       , -0.3       ,
        -0.3       , -0.3       ], dtype=float32),
 array([-0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.09418979, -0.22975159, -0.3       , -0.3       , -0.3       ,
        -0.3       , -0.3       ], dtype=float32),
 array([-0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.07378867, -0.29088002, -0.3       , -0.3       , -0.3       ,
        -0.3       , -0.3       ], dtype=float32),
 array([-0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.04170553, -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.3       , -0.3       ], dtype=float32),
 array([-0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.01792489, -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.3       , -0.3       ], dtype=float32),
 array([-0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.01730339, -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.3       , -0.3       ], dtype=float32),
 array([-0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.03726545, -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.3       , -0.3       ], dtype=float32),
 array([-0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.08908503, -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.3       , -0.3       ], dtype=float32),
 array([-0.3      , -0.3      , -0.3      , -0.3      , -0.3      ,
        -0.1601712, -0.3      , -0.3      , -0.3      , -0.3      ,
        -0.3      , -0.3      ], dtype=float32),
 array([-0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.24195784, -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.3       , -0.3       ], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.27487877, -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.3       , -0.3       ], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3       , -0.3       , -0.3       , -0.2703651 , -0.3       ,
        -0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.26136526, -0.2616474 ], dtype=float32),
 array([-0.3       , -0.3       , -0.3       , -0.2961678 , -0.3       ,
        -0.3       , -0.3       , -0.3       , -0.3       , -0.3       ,
        -0.28389972, -0.2619619 ], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32),
 array([-0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3, -0.3,
        -0.3], dtype=float32)]

In [17]:
middle = (pd.DataFrame(middle) * std[3]) + mean[3]
middle

,0,1,2,3,4,5,6,7,8,9,10,11
0,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,93937.304688,93649.890625,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312
1,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,93820.289062,93575.054688,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312
2,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,93779.570312,93560.156250,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312
3,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,93702.812500,93440.257812,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312
4,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,93669.218750,93395.062500,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312
...,...,...,...,...,...,...,...,...,...,...,...,...
99,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312
100,92892.070312,92892.070312,92892.070312,92992.867188,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,93023.484375,93022.523438
101,92892.070312,92892.070312,92892.070312,92905.101562,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92946.835938,93021.453125
102,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312
103,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312,92892.070312

In [ ]:
env = TradingEnv(balance_amount=100,balance_unit='USDT', trading_fee_multiplier=0.99925)

for i in range(len(response_df)):
    if env.balance_unit == 'USDT':
        if response_df['low'].iloc[i] < response_df['lower_band'].iloc[i]: #buy signal
            env.buy(response_df['lower_band'].iloc[i], response_df.index[i])
            print(response_df.index[i].date(), "Покупка")
        else:
            print(response_df.index[i].date(), "Утримання")
    
                
    if env.balance_unit != 'USDT':
        if response_df['high'].iloc[i] > response_df['upper_band'].iloc[i]: #sell signal
            env.sell(response_df['upper_band'].iloc[i], response_df.index[i])
            print(response_df.index[i].date(), "Продаж")
        else:
            print(response_df.index[i].date(), "Утримання")
    

if env.balance_unit != 'USDT':
    env.sell(response_df['close'].iloc[-1], response_df.index[-1])

print(f'num buys: {len(env.buys)}')
print(f'num sells: {len(env.sells)}')
print(f'ending balance: {env.balance_amount} {env.balance_unit}')

plot_results(plot_df=response_df, buys=env.buys, sells=env.sells)

In [ ]:


class Dataset_Custom(Dataset):
    def __init__(self, root_path, flag='train', size=None, 
                 features='S', data_path='ETTh1.csv', 
                 target='OT', scale=True, inverse=False, timeenc=0, freq='h', cols=None):
        # size [seq_len, label_len, pred_len]
        # info
        if size == None:
            self.seq_len = 24*4*4
            self.label_len = 24*4
            self.pred_len = 24*4
        else:
            self.seq_len = size[0]
            self.label_len = size[1]
            self.pred_len = size[2]
        # init
        assert flag in ['train', 'test', 'val']
        type_map = {'train':0, 'val':1, 'test':2}
        self.set_type = type_map[flag]
        
        
data_dict = {'custom':Dataset_Custom,
}
Data = data_dict['custom']
Data

In [ ]:
from torch.utils.data import DataLoader, Dataset

class Dataset_Custom(Dataset):
    def __init__(self, root_path, flag='train', size=None, 
                 features='S', data_path='ETTh1.csv', 
                 target='OT', scale=True, inverse=False, timeenc=0, freq='h', cols=None):
        # size [seq_len, label_len, pred_len]
        # info
        if size == None:
            self.seq_len = 24*4*4
            self.label_len = 24*4
            self.pred_len = 24*4
        else:
            self.seq_len = size[0]
            self.label_len = size[1]
            self.pred_len = size[2]
        # init
        assert flag in ['train', 'test', 'val']
        type_map = {'train':0, 'val':1, 'test':2}
        self.set_type = type_map[flag]
        
        self.features = features
        self.target = target
        self.scale = scale
        self.inverse = inverse
        self.timeenc = timeenc
        self.freq = freq
        self.cols=cols
        self.root_path = root_path
        self.data_path = data_path
        self.__read_data__()

    def __read_data__(self):
        self.scaler = StandardScaler()
        df_raw = pd.read_csv(os.path.join(self.root_path,
                                          self.data_path))
        '''
        df_raw.columns: ['date', ...(other features), target feature]
        '''
        # cols = list(df_raw.columns); 
        if self.cols:
            cols=self.cols.copy()
            cols.remove(self.target)
        else:
            cols = list(df_raw.columns); cols.remove(self.target); cols.remove('date')
        df_raw = df_raw[['date']+cols+[self.target]]

        num_train = int(len(df_raw)*0.7)
        num_test = int(len(df_raw)*0.2)
        num_vali = len(df_raw) - num_train - num_test
        border1s = [0, num_train-self.seq_len, len(df_raw)-num_test-self.seq_len]
        border2s = [num_train, num_train+num_vali, len(df_raw)]
        border1 = border1s[self.set_type]
        border2 = border2s[self.set_type]
        
        if self.features=='M' or self.features=='MS':
            cols_data = df_raw.columns[1:]
            df_data = df_raw[cols_data]
        elif self.features=='S':
            df_data = df_raw[[self.target]]

        if self.scale:
            train_data = df_data[border1s[0]:border2s[0]]
            self.scaler.fit(train_data.values)
            data = self.scaler.transform(df_data.values)
        else:
            data = df_data.values
            
        df_stamp = df_raw[['date']][border1:border2]
        df_stamp['date'] = pd.to_datetime(df_stamp.date)
        data_stamp = time_features(df_stamp, timeenc=self.timeenc, freq=self.freq)

        self.data_x = data[border1:border2]
        if self.inverse:
            self.data_y = df_data.values[border1:border2]
        else:
            self.data_y = data[border1:border2]
        self.data_stamp = data_stamp
    
    def __getitem__(self, index):
        s_begin = index
        s_end = s_begin + self.seq_len
        r_begin = s_end - self.label_len 
        r_end = r_begin + self.label_len + self.pred_len

        seq_x = self.data_x[s_begin:s_end]
        if self.inverse:
            seq_y = np.concatenate([self.data_x[r_begin:r_begin+self.label_len], self.data_y[r_begin+self.label_len:r_end]], 0)
        else:
            seq_y = self.data_y[r_begin:r_end]
        seq_x_mark = self.data_stamp[s_begin:s_end]
        seq_y_mark = self.data_stamp[r_begin:r_end]

        return seq_x, seq_y, seq_x_mark, seq_y_mark
    
    def __len__(self):
        return len(self.data_x) - self.seq_len- self.pred_len + 1

    def inverse_transform(self, data):
        return self.scaler.inverse_transform(data)

data_dict = {'custom':Dataset_Custom,
}
Data = data_dict['custom']

data_set = Data(
    root_path=args.root_path,
    data_path=args.data_path,
    flag=flag,
    size=[args.seq_len, args.label_len, args.pred_len],
    features=args.features,
    target=args.target,
    inverse=args.inverse,
    timeenc=timeenc,
    freq=freq,
    cols=args.cols
        )
print(flag, len(data_set))
data_loader = DataLoader(
    data_set,
    batch_size=batch_size,
    shuffle=shuffle_flag,
    num_workers=args.num_workers,
    drop_last=drop_last)

for i, (batch_x,batch_y,batch_x_mark,batch_y_mark) in enumerate(data_loader):
    batch_x = batch_x.float().to(torch.device('cpu'))
    batch_y = batch_y.float()
    batch_x_mark = batch_x_mark.float().to(torch.device('cpu'))
    batch_y_mark = batch_y_mark.float().to(torch.device('cpu'))

In [ ]:
pd.read_csv('./Temp.csv')

In [ ]:
args = exp.args

data_dict = {
    'ETTh1':Dataset_ETT_hour,
    'ETTh2':Dataset_ETT_hour,
    'ETTm1':Dataset_ETT_minute,
    'ETTm2':Dataset_ETT_minute,
    'WTH':Dataset_Custom,
    'ECL':Dataset_Custom,
    'Solar':Dataset_Custom,
    'custom':Dataset_Custom,
}
Data = data_dict[exp.args.data]
timeenc = 0 if args.embed!='timeF' else 1
Data
# if flag == 'test':
#     shuffle_flag = False; drop_last = True; batch_size = args.batch_size; freq=args.freq
# elif flag=='pred':
#     shuffle_flag = False; drop_last = False; batch_size = 1; freq=args.detail_freq
#     Data = Dataset_Pred
# else:
#     shuffle_flag = True; drop_last = True; batch_size = args.batch_size; freq=args.freq
# data_set = Data(
#     root_path=args.root_path,
#     data_path=args.data_path,
#     flag=flag,
#     size=[args.seq_len, args.label_len, args.pred_len],
#     features=args.features,
#     target=args.target,
#     inverse=args.inverse,
#     timeenc=timeenc,
#     freq=freq,
#     cols=args.cols